<div class="nav flex row space-between">
    <h2>Wanderlust</h2>
    <div class="flex row div-nav">
        <nav class="nav-horizontal ">
            <ul>
                <li>
                    <a>Destination</a>
                </li>
                <li>
                    <a>.</a>
                </li>
                <li>
                    <a>Bookings</a>
                </li>
                <li>
                    <a>.</a>
                </li>
                <li>
                    <a>Activities</a>
                </li>
            </ul>
        </nav>
        <button mat-icon-button class="boton-icono" aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="flex row div-nav-two container-nav">
        <div class="nav-container">
            <a id="btn-menu" href="#">☰</a>
            <div class="nav nav-sm">
                <a class="active" href="#">About</a>
                <a href="#">Students</a>
                <a href="#">Syllabus</a>
                <a href="#">Projects</a>
                <a href="#">Contact</a>
            </div>    
        </div>
    </div>
    <div class="flex row login">
        <a class="login-in">Login in</a>
        <button mat-raised-button class="sign-up">Sign up</button>
    </div>
</div>


